	/* Empty. Add your own CSS if you like */
		////////////
		
	.row{
		background-color: rgba(101, 67, 44, 0.81) !important;
		padding:1px !important;

	}
	.col{
			
		border-left: none !important;
		color:#1b0d5a !important;
	}    
        .final_total
        {
            color:#1b0d5a !important;
        }
        .grand_total
        {
            color:#1b0d5a !important;
        }
	.col.ng-binding{
                 border-right: none !important;
        }

		///////////////

       .item-icon-left{
        	background-color: rgba(112, 75, 49, 0.792157) !important;
		color: #ffffff !important;
       }

        .remove_icon{
                width: 5%;
		top: 12px;
		z-index: 999;
		position: relative;
		left: 0px;
        }


        div.item.item-thumbnail-left{
        	margin:8px !important;
        	/* background-color: rgba(101, 67, 44, 0.81) !important; */
		}

        .item{
        	padding-bottom: 15px !important;
        }

        .item-thumbnail-left, .item-thumbnail-left .item-content {
		    min-height: 250px !important;
	    }


        .item-input input, .item-input textarea{
                color: #ffffff !important;
                background-color: transparent !important;
        }


        .input-label{
        	color:#ffffff !important;
        }
         input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], textarea {
    
                color:#ffffff !important;
		}
                
         input[type="search"]{
                color:#141414 !important;
                }

        .button-small{
                 padding: 12px 12px 12px !important;
        }

        .sign_up{
            text-align: center;
            text-decoration: none;
            color:#333333;
            font-size:16px !important;
        }
        .button-assertive{
            margin: 0 auto;
            width: 100% !important;
            height: 50px;
        }
        button.button.button-block.button-positive{
            opacity: 0.4;
            background-color: #333333;
            border-color: #333333;
            color: #ffffff;
        }
     
        div.log.section{
            margin-top: 90% !important;   
        }
        .list{
            margin-bottom: 0px !important;
        }
       
        
        .row header .col{
            color:#333333 !important;
        }
        
       
        h4.ng-binding{
            color:#1b0d5a !important;
        }
        button.button.button-full.button-stable.buy-tab{
            background-color: rgba(67, 67, 67, 0.12) !important;
            color: #141414  !important;
        }

        
        h2.ng-binding{
            color:#1b0d5a !important;
            margin-left: 100px !important;
            text-transform: capitalize !important;
            text-align: center !important;
            font-weight: bold !important;
            font-size: 18px !important;
        }
        p.ng-binding{
                color: #1b0d5a !important;
                font-size: 18px !important;
		text-transform: capitalize !important;
/*		padding-top: 26px !important;*/
		text-align: right !important;
		font-weight: bold !important;
		padding: 30px !important;
/*                margin-top:75px !important;*/
        }
        
       .item-thumbnail-left{
           background-color: #E5E4E2 !important;
        }
       
        .col{
            color:#fffff;
        }
        item{
            
                background-color:rgba(0,0,0,.5) !important; 
                z-index:1000; position:relative; margin-top:-140px; float:right; margin-right:20px;
                border:solid white 2px;
                height:120px;
                width:120px;
                border-radius:100%;
        }
        
        /////////////////////
        
        .tab_section{
	   width: 100px;
	   height: 100px;
	   border: 1px solid blue;
	   -moz-border-radius: 0px;
	   -webkit-border-radius: 3px 3px 0px 0px;
	   border-radius: 30px 30px 0px 0px; 
	}


	.checkout-button{
            border: 1px solid #333333 !important;	
	}
	.col{

		padding:10px !important;
	}


	.slide_image{
            border: 1px solid rgba(45, 45, 45, 0.87);
	}
	.card{

		box-shadow: none !important;

	}
	.row{
		padding: 0px;
	}

	.mycontent-left {
		border-right: 1px dashed #333;
	}


	.buy-tab{
		border-color:#333333 !important;
	}

	.header .col {
		background-color:lightgrey;
	}

	.col {
/*		border: solid 1px grey;*/
		border-bottom-style: none;
		border-right-style: none;
	}
	.row:nth-child(2n+2){
	  /* background-color:lightgrey;*/
	}

	.col:last-child {
/*		border-right: solid 1px grey;*/
	}

	.row:last-child .col {
/*		border-bottom: solid 1px grey;*/
	}
	//

	.button-stable{
		border-color: #333333;
		top: 100px;
	}

	.center{

		margin-right:10px;
		margin-left:130px;
	}

	.divide_section{

		margin: 0px 0px 0px 0px;
		margin-bottom: 0px;
		width: 100%;

	}


	.item.item-input.item-select{

		width: 40%;
		top: 50px;
		border: 0;
		float: left

	}


	.button.button-small.button-assertive{
	    float:right;
		width: 30%;
		background-color: #fff;
		border-color: #333;
		color: #333;
	}

	.list{

		margin-bottom:0px;
	}

	button.button-small{

		margin: 0 auto;
		width: 100%;
	}


	.list.list-inset{
		margin-top:150px;
	}

	.bar.bar-header.bar-light {
		margin-top: 0px;
	}

	.bar.bar-light .title {

		font-weight: 700;
	}

	.scroll-content{

		overflow: visible;
	}

