            <!DOCTYPE html>

            <html ng-app="lighting">

                <head>

                    <meta charset="utf-8">

                    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

                    <title></title>

                    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

                    <link href="css/style.css" rel="stylesheet">

                    <link href="css/ionic.css" rel="stylesheet">

                    <link href="scss/ionic.app.scss" rel="stylesheet">

                    <link href="css/ion_icon.css" rel="stylesheet">

                    <link href="css/ionic.app.css" rel="stylesheet">

                   <!--  <link href="css/ionic.app.min.css" rel="stylesheet"> -->

                   

                    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above

                       <link href="css/ionic.app.css" rel="stylesheet">

                    -->

                    <!-- ionic/angularjs js -->

                    <script src="lib/ionic/js/ionic.bundle.js"></script>

                    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

                    <!-- cordova script (this will be a 404 during development) -->

                    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->

<!-- <script src="cordova.js"></script> -->

                    <!-- your app's js -->

                    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

                    <script src="js/jquery.min.js"></script>                    

                    <script src="js/code.min.js"></script>

                    <script src="js/app.js"></script>

                    <script src="js/controller.js"></script>

                    <script src="lib/ngCordova/dist/ng-cordova.js"></script></head>

                <body>

                <ion-nav-bar class="bar-positive">

                    <ion-nav-back-button class="button-icon ion-arrow-left-c">

                    </ion-nav-back-button>

                </ion-nav-bar>

                <ion-nav-view></ion-nav-view>

                <script id="templates/sign-in.html" type="text/ng-template">

                    <ion-view view-title="Sign-In">

                    <img ng-src="img/img10.jpg" style="position: absolute; top: 0; left: 0; opacity: 0.5; width: auto; height: 100%;">

                    <ion-content>

                    <div class="list Signin">

                    <div class="log section">

                    <label class="item item-input item-floating-label">

                    <span class="input-label" style="color:#ffffff;">User name</span>

                    <input type="text" placeholder="Username" ng-model="user.username" style="color:#ffffff;">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label" style="color:#ffffff;">Password</span>

                    <input type="password" placeholder="Password" ng-model="user.password" style="color:#ffffff;">

                    </label>       

                    <div class="padding">

                    <button class="button button-block button-positive" ng-click="signIn(user)">

                    Sign-In

                    </button>

                    <div class="row responsive-sm login-error" style="display:none;">

                    <div class="col assertive err_box" style="border:none;">Username and password are required</div>

                    </div>

                    <a href="#/register" class="button button-small button-assertive sign_up">Register</a>

                    </div>

                    </div>

                    </div>

                    </ion-content>

                    </ion-view>

                </script>

                <script id="templates/register.html" type="text/ng-template">

                    <ion-view view-title="Register">

                    <img ng-src="img/reg_back.jpg" style="position: absolute; top: 0; left: 0; opacity: 0.8; width: auto; height: 100%;">

                    <ion-content padding="false">

                    <div class="list">

                    <label class="item item-input item-floating-label">      

                    <span class="input-label">Username</span>    

                    <input type="text" placeholder="User name" ng-model="newuser.username">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Email</span>    

                    <input type="email" placeholder="Email" ng-model="newuser.email">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Mobile</span>   

                    <input type="number" placeholder="Mobile" ng-model="newuser.mobile">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Password</span> 

                    <input type="password" placeholder="Password" ng-model="newuser.password">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Confirm Password</span> 

                    <input type="password" placeholder="Confirm password" ng-model="newuser.confirmpassword">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Name</span> 

                    <input type="text" placeholder="Name" ng-model="newuser.name">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Store Name</span> 

                    <input type="text" placeholder="Store name" ng-model="newuser.storename">

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Address 1</span> 

                    <textarea placeholder="Address 1" ng-model="newuser.address1"></textarea>

                    </label>

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Address 2</span> 

                    <textarea placeholder="Address 2" ng-model="newuser.address2"></textarea>

                    </label> 

                    <label class="item item-input item-floating-label">

                    <span class="input-label">City</span> 

                    <input type="text" placeholder="City" ng-model="newuser.city">

                    </label>     

                    <label class="item item-input item-floating-label">

                    <span class="input-label">State</span> 

                    <input type="text" placeholder="State" ng-model="newuser.state">

                    </label>   

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Zip</span> 

                    <input type="number" placeholder="Zip code" ng-model="newuser.zipcode">

                    </label> 

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Work Phone</span> 

                    <input type="number" placeholder="Work phone" ng-model="newuser.workphone">

                    </label> 

                    <label class="item item-input item-floating-label">

                    <span class="input-label">Pan Card</span>

                    <input type="text" placeholder="PAN card" ng-model="newuser.pancard">

                    </label>

                    <div class="padding">

                    <button class="button button-block button-positive" ng-click="register(newuser)">

                    Sign-Up

                    </button>

                    <div class="row responsive-sm register-error" style="display:none;">

                    <div class="col assertive">Fields are required</div>

                    </div>

                    <p>

                    <a href="#/sign-in" class="button button-small button-assertive sign_up">Sign In</a>

                    </p>

                    </div>

                    </div>

                    </ion-content>

                    </ion-view>

                </script>            

                    <script id="templates/tabs.html" type="text/ng-template">

                    <ion-view>

                    <ion-tabs class="tabs-icon-top tabs-positive" style="width:900;">

                    <ion-tab title="Browse" icon="ion-ios-browsers" href="#/tabs/home">

                    <ion-nav-view name="home-tab"></ion-nav-view>

                    </ion-tab>

                    <ion-tab title="My Account" icon="ion-person" href="#/tab/myaccount">

                    <ion-nav-view name="myaccount-tab"></ion-nav-view>

                    </ion-tab>

                    <ion-tab title="My Cart" icon="ion-ios-cart" href="#/tab/mycart">

                    <ion-nav-view name="mycart-tab"></ion-nav-view>

                    </ion-tab>

                    </ion-tabs>

                    </ion-view>

                </script>

                

                <script id="templates/home.html" type="text/ng-template">                    

                    <ion-view view-title="Category">

                    <div class="bar bar-header item-input-inset" no-tap-scroll="true" style="top: 0;bottom: 0; height: 140px;position: fixed;z-index: 9999; background: rgba(0, 0, 0, 0.5);background-size: 10% !important;">

                      <label class="item-input-wrapper" style="margin-top: 100px;">

                          <i class="icon ion-ios-search placeholder-icon"></i>

                          <input type="search" placeholder="Search" class="searchall" ng-model="searchall">

                        </label>

                        <button ng-if="searchall.length" class="button button-clear" ng-click="clearSearch()" style="margin-top:100px;  border-color: rgba(15, 2, 2, 1) !important;background: #fff !important;box-shadow: none !important;color: rgba(27, 13, 16, 1) !important;border-radius: 8px !important;width: 25% !important;height: 10px !important;">

                          Search

                        </button>

                      </div> 

                    <ion-content padding="false">                   

                    <ion-list>

                    <div class="list item" ng-repeat="item in items" style="width:100%;margin: 5px 10px 5px 8px !important;height:250px !important; top:50px;">

                    <a class="item item-thumbnail-left" ng-click="showProducts('{{ item.id }}')">

                    <img ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ item.product_id }}&photo_name={{ item.image }}&width=300" />

                    <h2></h2>

                    <p class="Blur_Ctrl" style="font-size: 16px;text-transform: capitalize;">{{ item.category }}</p> 

                    </a>

                    </div>

                    </ion-list>

                    </ion-content>

                    </ion-view>

                </script>

                <script id="templates/products.html" type="text/ng-template">

                    <ion-view view-title="Products">

                    <div class="bar bar-header item-input-inset" no-tap-scroll="true" style="top: 0;bottom: 0; height: 150px;position: fixed;z-index: 9999; background: rgba(0, 0, 0, 0.5);background-size: 10% !important; overflow:hidden;">

                    <label class="item-input-wrapper" style="margin-top: 100px;">

                    <i class="icon ion-ios-search placeholder-icon"></i>                   

                    <input type="search" placeholder="Search" class="productsearchall ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="searchall" style="">

                    </label>                

                    <!-- ngIf: searchall.length --><button ng-if="searchall.length" class="button button-clear activated" ng-click="productSearch()" style="margin-top:100px; border-color: rgba(15, 2, 2, 1) !important;background: #fff !important;box-shadow: none !important;color: rgba(27, 13, 16, 1) !important;border-radius: 8px !important;width: 25% !important;height: 10px !important;">

                    Search

                    </button>

                    </div>

                    <ion-content padding="false">              

                    <div class="list" ng-repeat="product in products" style="top:50px;">

                    <a style="text-decoration:none;" ng-click="showproductdetails({{ product.id }})">

                    <div class="item item-thumbnail-left">  

                    <img ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> 

                    <h2 style="font-size:16px;margin-left: 100px; text-transform: capitalize;">{{ product.title }}</h2>

                    <h2 style="font-size: 16px !important;margin-top: 25px;margin-left:100px;text-align:center;">Rs. {{ product.price }} </h2>

                    <!--<button class="button button-small button-assertive" style="width:50% !important;">Buy</button> -->                    

                    </div>

                    </a>

                    </div>

                    </ion-list>

                    </ion-content>

                    </ion-view>

                </script>

                <script id="templates/productdetails.html" type="text/ng-template">

                    <ion-view view-title="Product Details">

                    <ion-content padding="false">

                    <div class="list divide_section">

                    <div class="item item-divider" style="text-align:center;padding:0px !important;">

                    <img class="big_image" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> 

                    </div>

                    <div class="item">

                    <div ng-if="product.main_image !=null" style="float:left;width:16%;">

                    <p><img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> </p>

                    </div>

                    <div ng-if="product.image1 != null" style="float: left;width:16%;">

                    <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image1 }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image1 }}&width=300"> 

                    </div>

                    <div ng-if="product.image2 != null" style="float: left;width:16%;">

                    <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image2 }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image2 }}&width=300"> 

                    </div>

                    <div ng-if="product.image3 != null" style="float: left;width:16%;">

                    <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image3 }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image3 }}&width=300"> 

                    </div>

                    <div ng-if="product.image4 != null" style="float: left;width:16%;">

                    <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image4 }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image4 }}&width=300"> 

                    </div>

                    <div ng-if="product.image5 != null" style="float: left;width:16%;">

                    <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image5 }}&width=50" alt-image="http://www.ledtrade.in/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image5 }}&width=300"> 

                    </div>

                    </div>

                    <br>

                    <p style="margin: 0 auto;width: 50%;"><h4 style="text-align:center;">Price: Rs. {{  product.price }}</h4></p>

                    <button class="button button-block button-stable buy-tab"  ng-click="mycart( product.id , product.title , product.price )">

                    Buy Now

                    </button>

                    </div>

                    <div class="card">

                    <div class="item item-text-wrap" style="padding:0px !important;">

                    <h2 style="text-align:left;font-size: 20px !important;color: #1b0d5a !important;"> Product Description </h2><p>&nbsp;</p>

                    <h4 style="text-align:left;color:#1b0d5a !important;">{{ product.description }}</h4>

                    </div>

                    </div>

​

                    <div class="list" style="padding:1px !important;">

                    <div class="row" style="border-top:1px solid grey;border-bottom:1px solid grey;">

                    <div class="col" style="">Sku</div>

                    <div class="col" style="">{{ product.sku }}</div>

                    </div>

​

                 

​

                    <div class="row"  style="border-bottom:1px solid grey;">

                    <div class="col" style="">Product Type</div>

                    <div class="col" style="">{{ product.product_type }}</div>

​

                    </div>

                    <div class="row" style="border-bottom:1px solid grey;">

                    <div class="col" style="">Category</div>

                    <div class="col" style="">{{ product.category }}</div>

                    </div>

                

​

                    <div class="row" style="border-bottom:1px solid grey;">

                    <div class="col" style="">Model Number</div>

                    <div class="col" style="">{{ product.model_number }}</div>

​

                    </div>

​

                    <div class="row" style="border-bottom:1px solid grey;">

                    <div class="col" style="">Color</div>

                    <div class="col" style="">{{ product.color }}</div>

                    </div>

                                   

                

                    <div class="row" style="border-bottom:1px solid grey;">

                    <div class="col" style="">No of Pieces per Box</div>

                    <div class="col" style="">{{ product.no_of_pieces }}</div>

                    </div>

            

                    <div class="row" style="border-bottom:1px solid grey;">

                    <div class="col" style="">Wattage</div>

                    <div class="col" style=""> {{ product.wattage }}</div>

                    </div>        

  

                   <div class="row" style="border-bottom:1px solid grey;">

                   <div class="col">Product weight</div>

                   <div class="col"></div>

                   </div>

           

                    </div>

                    </ion-content>

                    </ion-view>

                </script> 

                <script id="templates/mycart.html" type="text/ng-template">

                    <ion-view view-title="My Cart">

                    <ion-content padding="false">

                    <div id="my_cart"> 

                    <form name="form">               

                    <div ng-repeat="item in cart" class="list cart_products product_{{item.product_id}}" >

                    <a class="btn" ng-click="removeButton({{ item.product_id }})">

                    <img ng-src="img/r1.png" class="remove_icon"></a> 

​

                    <div class="list" style="width:96%;margin: 5px 10px 5px 8px !important;">

                    <a class="item item-thumbnail-left" ng-click="showProducts('{{ item }}')" style="background-color:#E5E4E2 !important;min-height:100px !important;padding-top:0px !important;">

                    <img ng-src="img/1.jpg" style="max-width:60px;max-height:60px;">

                    <div style="color: #1b0d5a !important;;text-transform: capitalize;font-size: 18px;text-align: center;margin-top:10px;">{{ item.title }}</div>

                    <div ng:model="item.price" style="font-size: 16px !important;color: #1b0d5a !important;float: left;margin-left: 50px;margin-top: 10px">Rs: {{ item.price }}</div>

                    <div ng-controller="MyCartCtrl" style="float: left !important;margin-left: 25px;margin-top: 10px;">

                    <select ng-model="itemSelected" productid="{{ item.product_id }}" ng-change="onQuantityChange(itemSelected, {{ item.price }}, {{item.product_id}})" ng-options="quantity.value for quantity in quantities">

                    <option>Select quantity</option>

                    </select>

                    </div>

                    <div class="total_value" style="float: left;margin-top:10px;margin-left:62px;">

                    <h3 style="color:#1b0d5a !important;">Total Rs:&nbsp;<div class="total" style="float:right"></div></h3>

                    </div>

                    </a>

                    </div>  

                    </div>    

                    <div class="card"> 

                        <div class="item item-text-wrap">

                        <p style="width: 31%;float: left;">Grand Total: Rs</p> <div class="final_total"></div>

                      </div>

                    </div>

                    </form>

                    </div>

                    <button class="button button-block button-stable checkout-button" confirmed-click="confirmOrder()" 

                    ng-confirm-click="Click ok to confirm your order">

                    Checkout

                    </button>

                    </form>

                    </ion-content>

                    </ion-view>

                </script>

                <script id="templates/myaccount.html" type="text/ng-template">

                    <ion-view view-title="My Account">

                    <ion-content padding="false">

                    <div class="my_account_all">

                    <h3></h3>

                    <div class="list card">

                    <a href="#/tab/trackorder" class="item item-icon-left" style="background-color: #E5E4E2  !important;color: #1b0d5a !important;">

                    <i class="ion-ios-location"></i>

                    Track Your Order

                    </a>

                    <a href="#/tab/terms" class="item item-icon-left" style="background-color: #E5E4E2  !important;color: #1b0d5a !important;">

                    <i class="ion-document"></i>

                    Terms Of Use

                    </a>

                    <a href="#/tab/privacy" class="item item-icon-left" style="background-color: #E5E4E2  !important;color: #1b0d5a !important;">

                    <i class="ion-compose"></i>

                    Privacy

                    </a>

                    <a href="#/sign-in" class="item item-icon-left" style="background-color: #E5E4E2  !important;color: #1b0d5a !important;">

                    <i class="ion-power"></i>

                    Sign Out

                    </a>

                    </div>

                    </ion-content>

                    </div>

                    </ion-view>

                </script>

                <script id="templates/trackorder.html" type="text/ng-template">

                    <ion-view view-title="Track Your Order">

                    <ion-content padding="false">

                    <div class="list" style="background-color:#E5E4E2 !important;padding:1px !important;">

                    <div class="row" style="border-bottom:1px solid grey">

                    <div class="col">Order Number</div>

                    <div class="col">Order value</div>

                    <div class="col">Ordered Date</div>

                    </div>

                    <div class="list order" ng-repeat="order in orders" style="">

                    <a ng-click="orderdetail( {{ order.id }} )" style="text-decoration: none;color:#ffffff;">

                    <div class="row" style="border-bottom:1px solid grey">

                    <div class="col">Order #{{ order.id }}</div> 

                    <div class="col">{{ order.total_value | currency }} </div>

                    <div class="col">{{ order.ordered_at | date: "dd-MM-yyyy h:mm"}}</div>

                    </div>

                    </a>

                    </div>  

                    </div>             

                    </ion-content>

                    </ion-view>

                </script>

                    <script id="templates/orderdetail.html" type="text/ng-template">

                    <ion-view view-title="Order detail">

                    <ion-content padding="false">

                    <div class="list" style="padding:1px !important;">     

                    <div class="row header" style="border-bottom:1px solid grey">

                    <div class="col-33"  style="text-align:center;background-color:none !important;color:#1b0d5a !important">Product</div>

                    <div class="col-10"  style="text-align:center;background-color:none !important;color:#1b0d5a !important">Qty</div>

                    <div class="col-25"  style="text-align:center;background-color:none !important;color:#1b0d5a !important">Price</div>

                    <div class="col-25"  style="text-align:center;background-color:none !important;color:#1b0d5a !important">Total Price</div>

                    </div>           

                    <div class="list order_products" ng-repeat="orderdetail in orderdetails" style="margin-top: -10px !important;">                

                    <div class="row" style="border-bottom:1px solid grey">

                    <img ng-src="http://www.ledtrade.in/index.php/product-photo?photo_type={{ orderdetail.product_id }}&photo_name={{ orderdetail.main_image }}&width=100" style="max-width:40px;max-height:40px;padding:10px 0px 0px 1px !important"/>             

                    <div class="col-25" style="text-align:center;padding:10px 0px 0px 1px !important;color:#1b0d5a !important">{{ orderdetail.product_name }}</div>           

                    <div class="col-10" style="text-align:center;padding:10px 0px 0px 6px !important;color:#1b0d5a !important">{{ orderdetail.quantity }}</div> 

                    <div class="col-25" style="text-align:center;padding:10px 0px 0px 0px !important;color:#1b0d5a !important">{{ orderdetail.price | currency}}</div>

                    <div class="col-25 total_price" style="text-align:center;padding:10px 0px 0px 0px !important;color:#1b0d5a !important">{{ (orderdetail.quantity * orderdetail.price).toFixed(2)}}</div>

                    </div>

                    </div>

                    </div> 

                    <div class="card"> 

                         <div class="item item-text-wrap">

                         <div class="grand_total">&nbsp; Grand Total: Rs {{ (cartTotal).toFixed(2) }}</div>

                      </div>

                    </div>                            

                    </ion-content>

                    </ion-view>

                </script>

                    <script id="templates/terms.html" type="text/ng-template">

                    <ion-view view-title="Terms Of Use">

                    <ion-content padding="false">

                    <div class="card">

                      <div class="item item-text-wrap" style="background-color:#E5E4E2 !important;color: #1b0d5a !important;">

                       A Terms and Conditions agreement includes the terms, the rules and the guidelines of acceptable behavior, plus other useful sections, to which users must agree in order to use or access your website, mobile app or Facebook app.

                      </div>

                    </div>

                    </ion-content>

                    </ion-view>

                </script>

                <script id="templates/privacy.html" type="text/ng-template">

                    <ion-view view-title="Privacy">

                    <ion-content padding="false">

                    <div class="card">

                      <div class="item item-text-wrap" style="background-color:#E5E4E2 !important;color: #1b0d5a !important;">

                       A Privacy Policy agreement is the agreement where you specify if you collect personal data, what kind of personal data you collect from your users and what you do with that data.

                      </div>

                    </div>

                    </ion-content>

                    </ion-view>

                </script>

            </body>

            </html>