 <!DOCTYPE html>
  <html ng-app="lighting">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/icon.css" rel="stylesheet">
      <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
         <link href="css/ionic.app.css" rel="stylesheet">
       -->
       <!-- ionic/angularjs js -->
       <script src="lib/ionic/js/ionic.bundle.js"></script>
       <!-- cordova script (this will be a 404 during development) -->
       <script src="cordova.js"></script>
       <!-- your app's js -->
       <script src="js/jquery.min.js"></script>
       <script src="js/code.min.js"></script>
       <script src="js/app.js"></script>
       <script src="js/controller.js"></script>
       <script src="js/services.js"></script>
     </head>
     <body>
      <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-view></ion-nav-view>
  <script id="templates/sign-in.html" type="text/ng-template">
   <ion-view view-title="Sign-In">
   <ion-content>
   <div class="list">
     <label class="item item-input item-floating-label">
      <span class="input-label">User name</span>
      <input type="text" placeholder="Username" ng-model="user.username" >
    </label>
    <label class="item item-input item-floating-label">
     <span class="input-label">Password</span>
     <input type="password" placeholder="Password" ng-model="user.password" >
   </label>
  </div>
  <div class="padding">
   <button class="button button-block button-positive" ng-click="signIn(user)">
     Sign-In
   </button>
   <div class="row responsive-sm login-error" style="display:none;">
    <div class="col assertive err_box" style="border:none;">Username and password are required</div>
  </div>
  <p class="text-center">

    <a href="#/register">Register</a>
  </p>
  </div>
  </ion-content>
  </ion-view>
  </script>
  <script id="templates/register.html" type="text/ng-template">
    <ion-view view-title="Register">
    <ion-content padding="false">
    <div class="list">
     <label class="item item-input item-floating-label">      
       <span class="input-label">User name</span>    
       <input type="text" placeholder="User name" ng-model="newuser.username">
     </label>
     <label class="item item-input item-floating-label">
       <span class="input-label">Email</span>    
       <input type="email" placeholder="Email" ng-model="newuser.email">
     </label>
     <label class="item item-input item-floating-label">
      <span class="input-label">Mobile</span>   
      <input type="number" placeholder="Mobile" ng-model="newuser.mobile">
    </label>
    <label class="item item-input item-floating-label">
     <span class="input-label">Password</span> 
     <input type="password" placeholder="Password" ng-model="newuser.password">
   </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Confirm password</span> 
    <input type="password" placeholder="Confirm password" ng-model="newuser.confirmpassword">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span> 
    <input type="text" placeholder="Name" ng-model="newuser.name">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Store name</span> 
    <input type="text" placeholder="Store name" ng-model="newuser.storename">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Address 1</span> 
    <textarea placeholder="Address 1" ng-model="newuser.address1"></textarea>

  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Address 2</span> 
    <textarea placeholder="Address 2" ng-model="newuser.address2"></textarea>

  </label> 

  <label class="item item-input item-floating-label">
    <span class="input-label">City</span> 
    <input type="text" placeholder="City" ng-model="newuser.city">
  </label>     
  <label class="item item-input item-floating-label">
    <span class="input-label">State</span> 
    <input type="text" placeholder="State" ng-model="newuser.state">
  </label>   
  <label class="item item-input item-floating-label">
    <span class="input-label">Zip code</span> 
    <input type="number" placeholder="Zip code" ng-model="newuser.zipcode">
  </label> 
  <label class="item item-input item-floating-label">
    <span class="input-label">Work phone</span> 
    <input type="number" placeholder="Work phone" ng-model="newuser.workphone">
  </label>    
  <div class="padding">
    <button class="button button-block button-positive" ng-click="register(newuser)">
     Sign-Up
   </button>
   <div class="row responsive-sm register-error" style="display:none;">
    <div class="col assertive">Fields are required</div>
  </div>
  <p>
    Return to <a href="#/sign-in">Sign In</a>.
  </p>
  </div>
  </div>
  </ion-content>
  </ion-view>
  </script>
  <script id="templates/tabs.html" type="text/ng-template">
    <ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive" style="width:900;">
    <ion-tab title="Browse" icon="ion-ios-browsers" href="#/tab/products">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="My Account" icon="ion-person" href="#/tab/myaccount">
  <ion-nav-view name="myaccount-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="My Cart" icon="ion-ios-cart" href="#/tab/mycart">
  <ion-nav-view name="mycart-tab"></ion-nav-view>
  </ion-tab>
  </ion-tabs>
  </ion-view>
  </script>
  <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Home">
    <ion-content padding="false">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" class="searchall" ng-model="searchall">
      </label>
      <button ng-if="searchall.length" class="button button-clear" ng-click="clearSearch()">
        Search
      </button>
    </div> 
    <ion-list>
    <div class="list" ng-repeat="item in items">
      <a class="item item-thumbnail-left" ng-click="showProducts({{ item }})">
        <img src="img/ionic.png">
        <h2></h2>
        <p>{{ item }}</p>
      </a>
    </div>
  </ion-list>
  </ion-content>
  </ion-view>
  </script>
  <script id="templates/products.html" type="text/ng-template">
    <ion-view view-title="Products">
    <ion-content padding="false">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" class="searchall" ng-model="searchall">
      </label>
      <button ng-if="searchall.length" class="button button-clear" ng-click="clearSearch()">
        Search
      </button>
    </div> 
    <div class="list" ng-repeat="product in products">
      <a style="text-decoration:none;" ng-click="showproductdetails({{ product.id }})">
        <div class="item item-thumbnail-left">  
         <img src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> 
         <p><h2 style="font-size:16px;">{{ product.title }}</h2></p>
         <p><h2 style="font-size: 14px;margin-top: 25px;">Price: Rs. {{ product.price }} <button class="button button-small button-assertive">
          Buy</button></h2></p>
        </div>
      </a>
    </div>
  </ion-list>
  </ion-content>
  </ion-view>
  </script>

  <script id="templates/productdetails.html" type="text/ng-template">
    <ion-view view-title="Product Details">
    <ion-content padding="false">
    <div class="list divide_section">
     <div class="item item-divider" style="text-align:center;">
       <img class="big_image" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> 
     </div>
     <div class="item">
      <div ng-if="product.main_image !=null" style="float:left;width:16%;">
        <p><img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.main_image }}&width=300"> </p>
      </div>
      <div ng-if="product.image1 != null" style="float: left;width:16%;">
       <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image1 }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image1 }}&width=300"> 
     </div>
     <div ng-if="product.image2 != null" style="float: left;width:16%;">
       <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image2 }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image2 }}&width=300"> 
     </div>
     <div ng-if="product.image3 != null" style="float: left;width:16%;">
       <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image3 }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image3 }}&width=300"> 
     </div>
     <div ng-if="product.image4 != null" style="float: left;width:16%;">
       <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image4 }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image4 }}&width=300"> 
     </div>
     <div ng-if="product.image5 != null" style="float: left;width:16%;">
      <img class="slide_image" onclick="$('.big_image').attr('src',$(this).attr('alt-image'))" src="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image5 }}&width=50" alt-image="http://www.webcrafters.in/lighting/index.php/product-photo?photo_type={{ product.id }}&photo_name={{ product.image5 }}&width=300"> 
    </div>
  </div>
  <br>
  <p style="margin: 0 auto;width: 50%;"><h4 style="text-align:center;">Price: Rs. {{  product.price }}</h4></p>


  <button class="button button-full button-stable buy-tab"  ng-click="mycart( product.id , product.title , product.price )">
    Buy Now
  </button>

  </div>
  <div class="card">
    <div class="item item-text-wrap">
     <h2 style="text-align:center;"> Product Description </h1>
       {{ product.description }}
     </div>
   </div>

   <div class="list">

    <div class="row">
      <div class="col">Sku</div>
      <div class="col">{{ product.sku }}</div>
    </div>

    <div class="row">
      <div class="col">Title</div>
      <div class="col">{{ product.title }}</div>

    </div>
    <div class="row">
      <div class="col">Brand</div>
      <div class="col">{{ product.brand }}</div>

    </div>
    <div class="row">
      <div class="col">Product Type</div>
      <div class="col">{{ product.product_type }}</div>

    </div>
    <div class="row">
      <div class="col">Category</div>
      <div class="col">{{ product.category }}</div>

    </div>
    <div class="row">
      <div class="col">Manufacturer</div>
      <div class="col">{{ product.manufacturer }}</div>

    </div>

    <div class="row">
      <div class="col">Model Number</div>
      <div class="col">{{ product.model_number }}</div>

    </div>

    <div class="row">
      <div class="col">Color</div>
      <div class="col">{{ product.color }}</div>

    </div>
    <div class="row">
      <div class="col">Material</div>
      <div class="col">{{ product.material }}</div>

    </div>
    <div class="row">
      <div class="col">Size</div>
      <div class="col">{{ product.size }}</div>

    </div>
    <div class="row">
      <div class="col">Volume</div>
      <div class="col">{{ product.volume }}</div>

    </div>
    <div class="row">
      <div class="col">Included</div>
      <div class="col">{{ product.included }}</div>

    </div>
    <div class="row">
      <div class="col">Finish</div>
      <div class="col">{{ product.finish }}</div>

    </div>
    <div class="row">
      <div class="col">No of Pieces</div>
      <div class="col">{{ product.no_of_pieces }}</div>

    </div>
    <div class="row">
      <div class="col">Wattage</div>
      <div class="col">{{ product.wattage }}</div>

    </div>
    <div class="row">
      <div class="col">Batteries Included</div>
      <div class="col">{{ product.batteries_included }}</div>

    </div>
    <div class="row">
      <div class="col">Price</div>
      <div class="col">{{ product.price }}</div>

    </div>
  </div>
  </ion-content>
  </ion-view>
  </script> 
  <script id="templates/mycart.html" type="text/ng-template">
    <ion-view view-title="My Cart">
    <ion-content padding="false">
    <p style="text-align: center; font-size: 25px; padding-top:50px;">My Cart</p>

    <div class="row header">
      <div class="col">Item</div>
      <div class="col">Qty</div>
      <div class="col">Price</div>
      <div class="col">Total</div>
      <div class="col"></div>
    </div>

    <div ng-repeat="item in cart" class="list product_{{item.product_id}}" >
      <div class="row">
        <div class="col">{{ item.title }}</div> 
        <div class="col"> 
         <select class="quantity" ng:model="item.quantity" productid="{{ item.product_id }}">      
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>  
      <div class="col" ng:model="item.price">{{ item.price }}</div>
      <div class="col total">{{item.total()}}</div>
      <div class="col"><a class="btn" ng-click="removeButton({{ item.product_id }})">
       X</a>
     </div>
   </div>
  </div>
  <div class="final_total">Grand Total: {{ cartTotal }}</div>
  <button class="button button-full button-stable checkout-button" confirmed-click="confirmOrder()" 
    ng-confirm-click="Click ok to confirm your order">
    Checkout
  </button>
  </ion-content>
  </ion-view>
  </script>
  <script id="templates/myaccount.html" type="text/ng-template">
    <ion-view view-title="My Account">
    <ion-content padding="false">
    <p style="text-align: center; font-size: 25px; padding-top:50px;">My Account</p>
    <h3></h3>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="ion-ios-location"></i>
        Track Your Order
      </a>
      <a href="#" class="item item-icon-left">
        <i class="ion-document"></i>
        Terms Of Use
      </a>
      <a href="#" class="item item-icon-left">
        <i class="ion-compose"></i>
        Privacy
      </a>
      <a href="#/sign-in" class="item item-icon-left">
        <i class="ion-power"></i>
        Sign Out
      </a>
    </div>
  </ion-content>
  </ion-view>
  </script>
  </body>
  </html>